<ul class="list-buttons row" >
	<li><a href="javascript:void(0)" ng-bind="mp.listButtons[0].name" ng-click="mp.sortLetter($event)" class="md-button md-raised"></a></li>
	<li><a href="javascript:void(0)" ng-bind="mp.listButtons[1].name" ng-click="mp.sortLetter($event)" class="md-button md-raised"></a></li>
	<li><a href="javascript:void(0)" ng-bind="mp.listButtons[2].name" ng-click="mp.sortLetter($event)" class="md-button md-raised"></a></li>
	<li><a href="javascript:void(0)" ng-bind="mp.listButtons[3].name" ng-click="mp.showTrash()" class="md-button md-raised"></a></li>
</ul>